<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  

  <servlet>
    <servlet-name>vcode</servlet-name>
    <servlet-class>com.chioy.servlet.VerifyCode</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Share</servlet-name>
    <servlet-class>com.chioy.servlet.Share</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.chioy.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResumeServlet</servlet-name>
    <servlet-class>com.chioy.servlet.ResumeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.chioy.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.chioy.servlet.QuestionServlet</servlet-class>
  </servlet>








  
  
  
  



  <servlet-mapping>
    <servlet-name>vcode</servlet-name>
    <url-pattern>/vcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Share</servlet-name>
    <url-pattern>/Share</url-pattern>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/User</url-pattern>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResumeServlet</servlet-name>
    <url-pattern>/Resume</url-pattern>
    <url-pattern>/resume</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/Admin</url-pattern>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/Question</url-pattern>
    <url-pattern>/question</url-pattern>
  </servlet-mapping>
</web-app>