<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.chioy.mybatis.QuestionMapper">
  	<select id="selectAll" resultType="Question">
  		use resume
  		select * from questions
  		order by qid
  	</select>
  	<insert id="addQuestion" parameterType="Question">
  		use resume
  		insert into questions(question) values(#{question})
  	</insert>
	<select id="selectById" resultType="Question">
		use resume
		select * from questions
		where qid=#{qid}
	</select>
  	<select id="selectByQuestion" parameterType="Question" resultType="Question">
  		use resume
  		select *  from questions
  		where question=#{question}
  	</select>
  </mapper>